html, body {
 background-color:   #2a2a2a ;
width: 100%;
height: 100%;
position: absolute;
}

p, h2, h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#backg-color {
    background-color:  #1c1c1c;
    opacity: 0.6;
    width: 400px;
    height: 110px;
    position: absolute;
    top: 150px;
    left: 24vw;
  }
    
#backg-color + img {
    position: absolute;
    padding: 5px 0;
left: 28vw;
top: 19vh;
}

@font-face {
    font-family: odin-font;
    src: url(../form/Norse-Bold.otf);
  }


  .img-txt > h3 {
    font-family: odin-font, sans-serif;
    font-size: 80px;
position: absolute;
color:  #ffffff;
top: 11vh;
left: 34vw;
  }

#container {
    display: flex;
    flex-flow: column wrap;
column-gap: 0;
height: 100vh;
width: 1000px;
margin: 0 auto 0 auto;
align-items: stretch;
}


.plants {
height: 100vh;
   width: 400px;
background-image: url("plants.png");
background-repeat: no-repeat;
background-size:cover;


}

.top-text {
height: 30vh;
width: 35vw;
    background-color:  #f7f7f7;
   
}

.form-container {
    height: 40vh;
    width: 35vw;
  background-color: white;
display: flex;
flex-flow: column nowrap;

justify-content: flex-start;
}

.field {
    display: flex;
    flex-flow: column wrap;
    height: 50px;
    column-gap: 20px;
width: 30vw;
margin: 20px auto 5px;
align-items: center;
}

label > p {
    font-size: 0.7rem;
}

.form-container > h2 {
text-align: left;
margin-left: 25px;
}

input {
height: 25px;
width: 12vw;
border: #E5E7EB solid 2px;
}

.bottom {
height: 30vh;
width: 35vw;
    background-color:  #f7f7f7 

}

.bottom > button {
    background-color: #596D48;
    color: white;
    width: 160px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 20px 15px;
    padding: 6px;
    border:  #596D48 solid 2px;
    border-radius: 10px;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display: none;
    color: #000;
  margin: 30px 0 10px 5px;
  }

  #message-container {
margin: 2px 0 5px 10px;
    height: 70px;
    column-gap: 5px;
    justify-content: space-evenly;
    width: 10vw;
  }
  #message-container p {

    font-size: 10px;
  }

  #message h3 {
    font-size: 12px;
    margin-bottom: 0;
  }

  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
 
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;

  }
#error {
    display: none;

}

#error > p {
    margin: 25px 0 5px 10px;
    color: red;
}